* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-form {
  width: fit-content;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.send,
.clear {
  width: 45%;
  border: 1px solid black;
  height: 25px;
  border-radius: 5px;
  margin: 5px 0px;
}

.send:hover,
.clear:hover {
  background-color: black;
  color: white;
}

.new-clear {
  display: none;
}

.result {
  text-decoration: underline;
}
